<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>  
	<title>{{ .Site.Title }} - {{ .Title | default .Site.Params.subtitle }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="alternate" type="application/rss+xml" title="Slic3r RSS feed" href="/rss" />
	<meta name="description" content="" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
	<link rel="stylesheet" type="text/css" href="/javascripts/fancybox/jquery.fancybox.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/tan-pink.css" media="screen" />
	<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <script type="text/javascript" src="/inc/jquery/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.tools.js"></script>
	<script type="text/javascript" src="/javascripts/fancybox/jquery.fancybox.js"></script>
	<script type="text/javascript" src="/javascripts/site.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			// Configure fancybox plugin
			$("a.screenshot").fancybox({
			    openEffect	: 'elastic',
    	        closeEffect	: 'elastic',
    	        helpers : {
    		        title : {
    			        type : 'inside'
    		        }
    	        },
				'overlayShow'	:	false,
				'beforeLoad'    : function() {
                    var el, id = $(this.element).data('title-id');
                    if (id) {
                        el = $('#' + id);
                        if (el.length) {
                            this.title = el.html();
                        }
                    }
                }
			});

			// Configure scrollable plugin
			$(".scrollable").scrollable({ });
		});
	</script>
    <script type="text/javascript" src="/inc/jquery/js/jquery-ui-1.7.2.custom.min.js"></script>
    <link type="text/css" href="/inc/jquery/css/ui-darkness/jquery-ui-1.7.2.custom.css" rel="stylesheet" />
</head>
<body>
	
	<div id="header">
		<div class="page">
			
			<a href="/" class="logo"><span>Slic3r</span></a>
			<div id="subtitle">{{ .Site.Params.subtitle }}</div>
			
			<ul>
			    <li><a href="/">Home</a></li>
			    <li><a href="/about">About</a></li>
			    <li><a href="/download">Download</a></li>
			    <li><a href="http://manual.slic3r.org/" style="color: red">The Manual</a></li>
			    {{ range first 1 (where .Site.RegularPages "Section" "==" "blog") }}
			        <li><a href="{{ .URL }}">Blog</a></li>
			    {{ end }}
			    <li><a href="/donations">Donate</a></li>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
	
	<div id="page">
				
		<div class="top"></div>
		<div class="content">
			
			{{ block "content" . }}{{ end }}
			
		</div>
		<div class="bottom"></div>
	</div>
	
	<div id="footer" class="page">
		<p>Slic3r is licensed under the GNU Affero General Public License, version 3<br />
		    The Slic3r icon was designed by <a href="http://twitter.com/cdugd/">Corey Daniels</a></p>
		<div class="clear"></div>
	</div>
	
</body>
</html>
