
<p><strong>Lead:</strong></p>
<ul><li><strong><strong>Alessandro Ranellucci<br></strong></strong>(alranel / Sound)<br><a href="mailto:alessandro@unterwelt.it">alessandro@unterwelt.it<br></a><a href="https://twitter.com/alranel">twitter.com/alranel</a></li>
</ul><p><strong>Co-maintaner:</strong></p>
<ul><li><strong><strong>Joseph Lenox<br></strong></strong>(lordofhyphens / LoH)</li>
</ul><p>You can often find us in the #slic3r channel in&nbsp;<a href="http://webchat.freenode.net/">FreeNode IRC</a>.</p>					        					    