
<p>
    <strong>Maintainers:</strong>
    <ul>
        <li style="font-size: 15px"><b>Alessandro Ranellucci</b><br />
            <small>
                (alranel/Sound)<br />
                <a href="mailto:alessandro@pintle.it">E-mail</a> -
                <a href="https://github.com/alranel">GitHub</a> -
                <a href="https://twitter.com/alranel">Twitter</a>
            </small>
        </li>

        <li style="font-size: 15px; margin-top: 15px"><b>Joseph Lenox</b><br />
            <small>
                (lordofhyphens/LoH)<br />
                <a href="https://github.com/lordofhyphens">GitHub</a> -
                <a href="https://twitter.com/LenoxPlay">Twitter</a>
            </small>
        </li>
    </ul>
</p>

<p>You can often find us in the #slic3r channel in&nbsp;<a href="https://webchat.freenode.net/">FreeNode IRC</a>.</p>					        					    