<p>Several contributors have been helping in development, including:</p>
<ul style="font-size: 14px"><li><strong>Henrik Brix Andersen</strong> (brix)</li>
<li><strong>Vojtech Bubnik</strong> (bubnkiv)</li>
<li><strong>Nicolas Dandrimont</strong> (olasd)</li>
<li><strong>Mark Hindness</strong> (zqk/beanz)</li>
<li><strong>Petr Ledvina</strong></li>
<li><strong>Y. Sapir</strong></li>
<li><strong>Mike Sheldrake</strong> (mesheldrake)</li>
<li><strong>Kliment Yanev</strong> (kliment)</li>
<li><strong>Gary Hodgson</strong></li>
<li><strong>Ahmed Samir</strong></strong> (Samir55)</li>
<li><strong>Benjamin Landers</strong></strong> (TheThirdOne)</li>
</ul><p>and tens of others. The Slic3r logo was designed by <strong>Corey Daniels</strong>.</p>