<h4>Premium donors</h4>

<p>The following companies donated more than 1,000 EUR:</p>
<div>
    <ul>
        <li><strong><a href="http://www.lulzbot.com/">LulzBot</a></strong></li>
        <li><a href="http://www.reprapdiscount.com/"><strong>RepRapDiscount</strong></a></li>
        <li><strong><a href="http://www.trinitylabs.com/">TrinityLabs</a></strong></li>
        <li><a href="http://www.seemecnc.com/"><strong>SeeMeCNC</strong></a></li>
        <li><a href="http://www.wasproject.it"><strong>WASP</strong></a></li>
    </ul>
    <p>These companies believe in open source software, and their funding supports the whole 3D printing community. Money is fully devoted to covering project expenses, or donated to other open source projects on which Slic3r relies, or used to fund the work of extra programmers or students.</p>
</div>